
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./PocketMonk.ttf) format('opentype');
}

.Homepage{display:flex;flex-direction: column;}
.Header h1{text-align:center; font-family:Lato;color:red; font-size:50px;margin-top:60px;}
.About{font-size:20px;
       color:red;
      margin:20px;}

  .martImage{display:flex;justify-content: center;}

.load{width:100%;
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
    .load:hover{width:100%;
      background-color: #4CAF50; /* Green */
        border: solid blue 2px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: yellow;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}


.maincontent{display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    gap:20px;
    padding:10px;
  }


  .maincontent div{
    background-color:gold;
      text-align:center;
    }

  .maincontent div:hover{
    border:solid silver 2px;
    text-align:center;
  }

  /*
  .centerbox{display:flex; justify-content:center;margin:0;}
  */

  .name{font-family:Lato;}
  .text{font-size:16px;}

  /* The Modal (background) */
.modal {
  /* display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;

  width: 80%; /* Could be more or less, depending on screen size */
  border:dotted tomato 4px;
}

.modal-content h2{text-align:center}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#checkoutmodal{z-index:2;}

.filter{display:flex;
  justify-content: center;
  gap:6px;}

  .footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: yellow;
    color: red;
  text-align: center;
}
.bikanim{display:none;
  text-align:center;
  flex-direction: column;
         justify-content:center;
         align-items: center;
          }
.bikanim img{width:20%;}
.bikanim button{background-color: red ;
  border: yellow solid 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}

  .bikanim a{color:white;}
